.category_explorer {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.add_new_pane {
    padding: 0.5vw;
    display: flex;
    align-items: center;
}

.add_category_btn {
    margin-left: 1vw !important;
}

.category_group {
    padding: 0.5vw;
}
