.login_pane {
    padding: 1%;
    box-shadow: 0px 2px #dfe6e9;
}

.login_pane .brand_name {
    font-size: 45px;
    font-family: Bungee;
    color: #d63031;
}

.login_button_group {
    white-space: nowrap;
    margin-right: 2vw;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
}

.login_button_group div {
    margin-left: 1%;
}

.login_button_group button {
    margin-left: 1%;
}